/* style for tag */
* {
	border: solid #6AC500 1px;
}

html {
	margin-top: 15px;
	margin-bottom: 15px;
}

body {
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	border: solid  #6AC5AC 3px;
}

img {
	width: 100%;
}

h1, h2 {
	margin: 0px;
}

header, nav, footer, section, article, div {
	box-sizing: border-box;
}

header {
	display: flex;
	padding: 0px;
	margin: 0px;
}

section {
	border: solid  #6AC5AC 3px;
}

main {
	width: 100%;
}

footer {

}

hr {
	border: solid grey 2px;
}


/*style for class*/
.works {
	display: flex;
	display: -webkit-flex;
}

.work-item {
}

.work-img {
	width: 30%;
	margin: 10px;
}


/*style for id*/
#logo-box {
	width: 100px;
	margin: auto;
}

#name-description {
	width: 100%;
	margin-top: auto;
}

#logo-img {
}

#name {
	text-align: right;
}

#description {
	text-align: right;
}
