/* style for tag */
* {
  /* TODO: show outline for test */
  /*border: solid #6ac500 1px;*/
}

html {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  min-width: 320px;
  max-width: 1000px;
  margin: 0 auto;
  font-family: Lucida Console, Lucida Sans Typewriter, monospace;
  font-size: 12px;
}

img {
  width: 100%;
}

header,
nav,
footer,
section,
article,
div {
  box-sizing: border-box;
}

main {
  width: 100%;
}

footer {
  /* TODO */
}

a:link,
a:visited {
  color: white;
  cursor: pointer;
  min-width: 48px;
  min-height: 48px;
  text-align: center;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/*style for class*/
.header {
  display: flex;
  padding: 0;
  margin: 0;
}

.header-logo {
  width: 30%;
  margin-left: auto;
}

.header-container {
  width: 70%;
  margin: auto;
  padding-right: 10px;
}

.logo-img {
  max-width: 100px;
}

.main-img {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.seperator {
  border: solid 2px;
  margin-bottom: 20px
}

.section-title {
  padding-left: 10px;
}

.vertical-container {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 100px;
  padding: 5px;
}

.deck {
  display: flex;
  flex-flow: wrap;
  margin: 0;
}

.card-container {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.card {
  text-align: center;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
  background-color: #2d3c49;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img {
  width: 30%;
  margin: auto;
}

.card-body {
  margin: 0;
}

.card-title {
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

.card-url-container {
  width: 100%;
  background-color: #4f473e;
  padding: 10px 0;
}

.align-right {
  text-align: right;
}

.footer {
  padding-right: 20px;
}

@media screen and (min-width: 600px) {
  .card-container {
    width: 33.333%;
  }
  .vertical-container {
    min-height: 150px;
  }
  .card-img {
    width: 50%;
  }
}
